<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
<body>
  <%- include('partials/header_1') %>
  <%- include('partials/bTeam') %>
  <%- include('partials/footer') %>
  <%- include('partials/scripts') %>
</body>
<html>